.anomoly-detection-fe {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
}
button, input {
  border-radius: 7px;
}
button {
  background-color: #84a4a5;
  font-size: 3rem;
  transition: .2s;
  cursor: pointer;
  padding: .5rem 1.5rem;
}
button:hover {
  border-color: #15616D;
  color: #15616D;
  background-color: #dbe3d9;
}
input {
  background-color: #f7f9f5;
  font-size: 6rem;
  width: 300px;
  text-align: center;
  margin: 1rem;
  border: 2px solid #999;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

/* Thermometer */
.thermometer__stem, .thermometer__bulb {
  border: 2px solid black;
  background-color: #f7f9f5;
}
.thermometer__stem {
  width: 40px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  border-radius: 20px 20px 0 0;
}
.thermometer__bulb {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}